.main_header{
	position: absolute;
	top: 0px;
	height: 100px;
	width: 100%;
	background-color: black;
	color: white;
	transition: color 0.35s ease-in-out;
	font-size: 30px;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	padding: 0px;
}
.main_header ul li{
	text-decoration: none;
	display: inline-block;
	padding-left: 25px;
    padding-right: 25px;
    height:100%;
}
.main_header ul li:hover {
	background-color: #fff;
	color: black;
	cursor: pointer;
	height:100%;
}
.menu_logo {
	position: absolute;
	
}
.main_body{
	position: absolute;
	top: 100px;
	width: 100%;
	height: 100%
}
.main_footer{
	position: absolute;
	bottom: 0px;
	height: 150px;
	width: 100%;
	background-color: black;
}